/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@100&display=swap');

body {
    background: ;
}

/* logo */
.logo {
    width: 30px;
    height: auto;
}

h1 {
    font-family: Black Ops One, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}