/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background: #658AB4;
    font-family: Montserrat, sans-serif;
}

.heading{
    background: #91BB5F;
    color: #fff;
    padding: 35px;
}

.start-btn, .info-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start Quiz Button Styling */
.start-btn button{
    font-size: 25px;
    font-weight: 500;
    color: #202D38;
    background: #EEC51D;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.info-box{
    width: 540px;
    background-color: #fff;
    border-radius: 5px;
}

.info-box .info-title{
    height: 60px;
    width: 100%;
    border-bottom:1px solid #202D38;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600px;

}

.info-box .info-list{
    padding: 15px 35px;
}

.info-box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info-box .info-list .info span{
    font-weight: bolder;
    color: #658AB4;

}

/* Logo and h1 - followed Love Running Walkthrough Project */
/* Logo */
.logo {
    width: 30px;
    height: auto;
}

h1 {
    font-family: Black Ops One, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}