/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background: #658AB4;
    font-family: Montserrat, sans-serif;
}


.heading{
    background: #91BB5F;
    color: #fff;
    /*padding: 5px 35px; */
    background-image: url('../images/football-savvy.jpg') no-repeat ;
}

h3{
    font-family: Black Ops One, sans-serif;
}

/* Logo and h1 - followed Love Running Walkthrough Project */
/* Logo */
.logo {
    width: 30px;
    height: auto;
}

h1 {
    font-family: Black Ops One, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/* Quiz - build by coding along with Code Nepal tutorial and making my own amendments for colours, font, icons*/
.start_btn, 
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.info_box.activeInfo,
.quiz_box.activeQuiz{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* Start Quiz Button Styling */
.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #202D38;
    background: #EEC51D;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start_btn .start_quiz .icon.whistle{
    color: #fff;
    font-size: 25px
}

/* Info Box Styling */
.info_box{
    width: 540px;
    background-color: #fff;
    border-radius: 5px;
    border: 5px solid #202D38;
    font-weight: bolder;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #202D38;
    display: flex;
    align-items: center;
    padding: 0 30px;
    /*font-size: 20px;
    font-weight: 600px; */

}

.info_box .info-title h3{
    font-family: Black Ops One, sans-serif;
}

.info_box .info-list{
    padding: 15px 35px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: bolder;
    color: #658AB4;

}

.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid #202D38;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid #658AB4;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #658AB4;
}

.buttons button.restart:hover{
    background: #EEC51D;
}

.buttons button.quit{
    color: #658AB4;
}

.buttons button.quit:hover{
    color: #fff;
    background: #EEC51D;
}

/* Quiz Box Styling */

.quiz_box{
    width: 540px;
    background-color: #fff;
    border-radius: 5px;
    border: 5px solid #202D38;
    font-weight: bolder;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz_box{
    display: none;
    width: 550px;
    background: #fff;
    border-radius: 5px;
}

.quiz_box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px #202D38;
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #658AB4;
    border: 1px solid #658ab4;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz_box header .timer .timer_text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: bolder;
    background: #91BB5F;
    color: #fff;
    height: 30px;
    width: 45px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    user-select: none;
}

.quiz_box section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

.quiz_box section .questions_text{
    font-size: 25px;
    font-weight: 600;
}

.quiz_box section .option_list{
    padding: 20px 0;
    display: block;
}

section .option_list .option{
    background-color: #EEC51D;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .option_list .option:hover{
    color: #fff;
    background: #658ab4;
}

.option_list .option:last-child{
    margin-bottom: 0px;
}

.option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    pointer-events: none;
}

.option_list .option .icon.tick{
    color: #fff;
    border-color: #91BB5F;
    background: #91BB5F;
}

.option_list .option .icon.cross{
    color: #fff;
    border-color: #c0120;
    background: #C01420;
}

/* Quiz Box Footer */
.quiz_box footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box footer .total_questions span{
    display: flex;
    user-select: none;
}

.quiz_box footer .total_questions span p{
    font-weight: 500;
    padding: 0 5px;
}

.total_questions span p:first_child{
    padding-left: 0px;
}

footer .next_btn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color:#fff;
    background: #658ab4;
    border-radius: 5px;
    border: 1px solid #658ab4;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next_btn:hover{
    background: #EEC51D;
}

/* Result Box */
.result_box{
    background: #fff;
    width: 540px;
    padding: 25px 30px;
    border-radius: 5px;
    border: 5px solid #202D38;
    font-weight: 500;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.result_box .fa-trophy{
    font-size: 100px;
    color: #EEC51D;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: bolder;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
}

.score_text span p{
    font-weight: bolder;
    padding: 0 4px;
}

/*original Code Nepal 
.result-box .buttons{
    display: flex;
    margin: 20px 0;
}

.result-box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
*/

/* Copied and pasted from info box buttons*/
.result_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
}

.result_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 150px;
    border: 1px solid #658AB4;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #658AB4;
}

.buttons button.restart:hover{
    background: #EEC51D;
}

.buttons button.quit{
    color: #658AB4;
}

.buttons button.quit:hover{
    color: #fff;
    background: #EEC51D;
} 
